/*! main.scss */
@import 'flat-ui.scss';
//@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);

body {
  padding-top: 80px;
  font-family: 'Fira Code', monospace;
  font-size: 10px;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-weight: 700;
}
h1 {
  font-size: 4em
}
h2 {
  font-size: 3.2em
}
h3 {
  font-size: 2.4em
}
h4 {
  font-size: 1.8em
}
h5 {
  font-size: 1.4em
}
h6 {
  font-size: 1.2em
}
img {
  max-width: 100%;
}

.hidden {
  display: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: auto;

  .fila {
    display: block;
    overflow: hidden;
    clear: both;
  }
}

.cabecera {
  background: $flat-wet-asphalt;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 0;
}

.color {
  width: 7em;
  height: 5em;
  border-radius: 0.8em;
  display: inline-block;
  margin: 1em;
  margin-right: 2em;
  box-shadow: 1px 1px 1px rgba(0,0,0,.5);

  &.activo {
    margin: 0;
    margin-right: 1em;
    width: 9em;
    height: 7em;
  }
  
  &.rojo {
    background: $flat-pomegranate;
  }  
  &.naranja {
    background: $flat-carrot;
  }   
  &.amarillo {
    background: $flat-sunflower;
  }  
  &.verde {
    background: $flat-nephritis;
  } 
  &.azul {
    background: $flat-peter-river;
  }  
  &.blanco {
    background: $flat-clouds;
  }  
  &.negro {
    background: $flat-midnight-blue;
  }
  &.all {
    background: rgb(192,57,43);
    background: -moz-linear-gradient(left, rgba(192,57,43,1) 0%, rgba(230,126,34,1) 21%, rgba(241,196,15,1) 41%, rgba(39,174,96,1) 61%, rgba(41,128,185,1) 81%, rgba(44,62,80,1) 100%);
    background: -webkit-linear-gradient(left, rgba(192,57,43,1) 0%,rgba(230,126,34,1) 21%,rgba(241,196,15,1) 41%,rgba(39,174,96,1) 61%,rgba(41,128,185,1) 81%,rgba(44,62,80,1) 100%);
    background: linear-gradient(to right, rgba(192,57,43,1) 0%,rgba(230,126,34,1) 21%,rgba(241,196,15,1) 41%,rgba(39,174,96,1) 61%,rgba(41,128,185,1) 81%,rgba(44,62,80,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0392b', endColorstr='#2c3e50',GradientType=1 );
  }
}
.caja_bandera {
  display: inline-block;
  width: 10em;
  vertical-align: top;
  p {
    text-align: center;
    padding: 0;
    margin: 0;
  }
}
